<nav class="navbar">
    <%
    let path;
    if(title == 'Camera' || title.includes("Rezervare") || title.includes("Error")) path = "../assets/img/logo.png";
    else path = "./assets/img/logo.png";
     %>
    <div class="navbar-logo">
        <img src="https://hotel.thedrop.me/assets/img/logo.png">
        <a href="/">JULIETTE</a>
    </div>

    <div class="links">
        <ul>
            <li class="nav-item">
                <a href="/rezervari">
                    <ion-icon name="ios-bed"></ion-icon>
                    Rezervări
                </a>
            </li>
            <li class="nav-item">
                <a href="/restaurant">
                    <ion-icon name="pizza"></ion-icon>
                    Restaurant
                </a>
            </li>
            <li class="nav-item">
                <a href="/echipa">
                    <ion-icon name="contacts"></ion-icon>
                    Echipă
                </a>
            </li>
            <li class="nav-item">
                <a href="/contact">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    Contact
                </a>
            </li>
        </ul>
    </div>
</nav>