<html>
	<head>
		<title>Hotel Juliette - <%= title %></title>

		<% include ./partials/meta.ejs %>

		<link rel="stylesheet" href="assets/css/style.css?v=<%= Date.now() %>" />
		<script
			type="module"
			src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"
		></script>
		<script
			nomodule=""
			src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"
		></script>
	</head>

	<body>
		<% include partials/navbar.ejs %>

		<section class="content">
			<div class="title-text">
				Înregistrare - Hotel Juliette
			</div>
			<% if (!user) { %>
			<a href="/auth/facebook" class="fb connect">Sign in with Facebook</a>
			<% } else { %>
			<h2 style="color: black;">
				Salut, <%= user.displayName %>. Se pare că ești logat deja.
			</h2>
			<% } %>
		</section>

		<% include partials/footer.ejs %>
	</body>
</html>
