<html>

    <head>

        <title>Hotel Julitte - <%= title %></title>

        <% include ../partials/meta.ejs %>

        <link rel="stylesheet" href="assets/css/style.css?v=5">
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

    </head>

    <body>

        <% include ../partials/navbar.ejs %>

        <section class="error">
            <div class="error-h">
                <div class="error-v">
                    <img src="assets/img/logo.png" class="error-img">
                </div>
            </div>
            <div class="error-text">
                Pagina nu a fost găsită.
            </div>
        </section>

        <footer class="footer">
            <div class="copyright">&copy; Copyright 2019 Hotel Julitte - All Rights Reserved</div>
        </footer>

    </body>
</html>